<div class="content">
  <div class="flex-container">
    <img
      src="about-image.png"
      alt="Reeta malhotra portrait"
      class="responsive-img"
    />
    <div class="text-content">
      <h1>What I Do ?</h1>
      <p>
        As a Professional Handwriting Analyst, I have a skill to support you in
        re-discover yourself through your handwriting.
      </p>
      <p>A pen and paper is all you need and I will be decoding;</p>
      <ul>
        <li>Personality</li>
        <li>Character</li>
        <li>Thinking Pattern</li>
        <li>Relationships</li>
        <li>Energy</li>
        <li>Fears and Defenses Strengths</li>
        <li>Motivations Imagination</li>
        <li>Integrity Areas of Improvements/Weaknesses</li>
      </ul>
    </div>
  </div>
</div>
