<div class="content">
  <div class="flex-container">
    <img
      src="contact-image.png"
      alt="contact telephone image"
      class="responsive-img"
    />
    <div class="text-content">
      <h1>Contact Us</h1>
      <h2>Let's Connect</h2>
      <ol class="text-content-orange">
        <li>Record Your Sample</li>
        <li>Scan The Document In A PDF Format</li>
        <li>Share Your Sample Through Email / Whatsapp</li>
        <li>A 15min Conversation At A Mutually Confirmed Time</li>
      </ol>

      <p><a href="mailto:reetamalhotra4@gmail.com">Email me</a></p>
    </div>
  </div>
  <div class="flex-column">
    <h1>Shall We ?</h1>
    <div>
      When was the last time you put your pen on paper ? Well, you would want to
      do it right now, because your handwriting speaks.
    </div>
    <div class="text-content-orange">
      Please refer the content provided to record your handwriting sample.
      Kindly follow the guidelines below while writing.
    </div>
    <h2>Natural Writing</h2>
    <div>
      Let your natural writing come onto paper. Avoid writing in BLOCK letters.
    </div>
    <h2>The Pen</h2>
    <div>
      Please use the same pen throughout your writing. It is suggested to use a
      ball point pen.
    </div>
  </div>
</div>
