<div class="container">
  <h1>Client Testimonials</h1>
  <p class="testimonials">
    110 out of 100! Yes, that’s the score. You must be wondering what this score
    means and how it’s even possible. Let me explain: this is the score I would
    like to give to Reeta Malhotra, ma'am, for the writing analysis she
    conducted a couple of days ago. When I submitted my writing for analysis,
    she asked me if I had pain in my ankles. My answer was no, but two weeks
    later, the pain started, and I could relate it to her prediction. When she
    began explaining my qualities and areas for improvement, I couldn’t believe
    how spot on she was. Just like an astrologer reveals insights about your
    past, present, and future, she made predictions that were incredibly
    accurate. This not only surprised me but also sparked my curiosity about
    this subject and my desire to learn more. Thank you for the analysis and
    motivational counseling. I hope this knowledge benefits more and more
    people. Thank you once again. Harsada Suryavanshi
  </p>
  <p class="testimonials">
    I was surprised to learn that handwriting can also communicate. I didn’t
    realize that handwriting has the power of communication until I discovered
    many truths about myself thanks to Reeta Malhotra. She possesses the skill
    to uncover what we hide within ourselves by analyzing our handwriting. The
    handwriting analysis highlighted various aspects of my personality, and all
    the points were accurate. I would give an overall score of 96 out of 100 for
    the analysis. Krishna Dubey | Mumbai
  </p>
  <p class="testimonials">
    I would give Reeta Malhotra ji a score of 96 out of 100 for conducting my
    handwriting analysis. I am excited to begin my graphotherapy journey with
    her. Her analysis and readings were remarkably accurate, and I was able to
    relate to each and every point. Her insights have compelled me to make
    significant changes in my life. I’m eager to embark on this journey under
    her guidance. Pragati Mahendru | Glasgow (Scotland)
  </p>
</div>
