.home {
  display: flex;
  flex-direction: column; /* Stacks items vertically */
  padding: 0.5em;

  img {
    width: 100%; /* Set the width to 100% of the container on mobile */
    height: auto; /* Maintain the aspect ratio */
    display: block; /* Prevents the image from having extra space below it */
  }
}

.home_avatar {
  img {
    width: 100%; /* Set the width to 100% of the container on mobile */
    height: auto; /* Maintain the aspect ratio */
    display: block; /* Prevents the image from having extra space below it */
  }
}

/* Media Queries for Responsive Design */
@media (min-width: 768px) {
  .home {
    flex-direction: row; /* Change to row on larger screens */
    justify-content: space-around; /* Space out the items */
  }

  img {
    width: 20%; /* Set a fixed width for larger screens */
  }

  .home_avatar img {
    width: 20%; /* Set a fixed width for larger screens */
  }
}
