<div class="flex-container">
  <img
    src="reeta-malhotra.png"
    alt="Reeta malhotra portrait"
    class="responsive-img"
  />
  <div class="text-content">
    <h1>Reeta Malhotra</h1>
    <h2>Member Of International Council Of Graphologists</h2>
    <p>
      I, Reeta S. Malhotra, started my career as a psychotherapist. I then
      learned NLP, Access Bars, Pranic Healing, and Graphology. In the last six
      months, I have experienced a significant transformation. I can help people
      connect the dots in their chaotic lives by dotting the "i" and crossing
      the "t" properly. I can also help them make their signature resemble an
      autograph.
    </p>
    <p>
      I am on a mission to assist individuals in transforming themselves and
      discovering their wings through counseling and graphotherapy. I intend to
      teach everyone, "Change your thoughts, change your life." My mission is to
      touch thousands of lives with the power of graphotherapy. I aim to spread
      the love for writing under the flagship of the International Council of
      Graphology. I wish to remain in the hearts of people even after I leave
      this planet.
    </p>
  </div>
</div>
<div class="flex-column">
  <h1>Shall We ?</h1>
  <p>
    When was the last time you put your pen on paper ? Well, you would want to
    do it right now, because your handwriting speaks. Please refer the content
    provided to record your handwriting sample. Kindly follow the guidelines
    below while writing.
  </p>
  <h2>Natural Writing</h2>
  <p>
    Let your natural writing come onto paper. Avoid writing in BLOCK letters.
  </p>
  <h2>The Pen</h2>
  <p>
    Please use the same pen throughout your writing. It is suggested to use a
    ball point pen.
  </p>
</div>
